@model IEnumerable<SOFT549_ASD_MIS_DemoWebApp.Models.Client>

@{
    ViewData["Title"] = "Clients";
}
<br />
<h3>Clients List</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="flip-scroll">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th scope="row">
                    Client Name
                </th>
                <th>
                    Client Contact Details
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientContact)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />