@model SOFT549_ASD_MIS_DemoWebApp.Models.Project

@{
    ViewData["Title"] = "Details";
}
<br />
<h3>Details</h3>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Project Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            Predicted Launch Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredictedLaunchDate)
        </dd>
        <dt>
            Actual Launch Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualLaunchDate)
        </dd>
        <dt>
            Predicted Completion Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredictedCompletionDate)
        </dd>
        <dt>
            Actual Completion Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualCompletionDate)
        </dd>
        <dt>
            Predicted Cost
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredictedCost)
        </dd>
        <dt>
            Actual Cost
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualCost)
        </dd>
        <dt>
            Price
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Client
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<br />
<br />