@model IEnumerable<SOFT549_ASD_MIS_DemoWebApp.Models.Project>

@{
    ViewData["Title"] = "Projects";
}
<br/>
<h3>Projects List</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="flip-scroll">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>
                    Project Name
                </th>
                <th>
                    Predicted Launch Date
                </th>
                <th>
                    Actual Launch Date
                </th>
                <th>
                    Predicted Completion Date
                </th>
                <th>
                    Actual Completion Date
                </th>
                <th>
                    Predicted Cost
                </th>
                <th>
                    Actual Cost
                </th>
                <th>
                    Price
                </th>
                <th>
                    Client
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PredictedLaunchDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualLaunchDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PredictedCompletionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualCompletionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PredictedCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.ClientContact)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />