@model SOFT549_ASD_MIS_DemoWebApp.Models.Activity

@{
    ViewData["Title"] = "Details";
}
<br />
<h3>Details</h3>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Activity Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityName)
        </dd>
        <dt>
            Predicted Start Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredictedStartDate)
        </dd>
        <dt>
            Actual Start Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualStartDate)
        </dd>
        <dt>
            Predicted Completion Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredictedCompletionDate)
        </dd>
        <dt>
            Actual Completion Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualCompletionDate)
        </dd>
        <dt>
            Predicted Cost
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredictedCost)
        </dd>
        <dt>
            Actual Cost
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualCost)
        </dd>
        <dt>
            Activity Sequence
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivitySequence)
        </dd>
        <dt>
            Project Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>
        <dt>
            Staff Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staff.StaffName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ActivityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<br />
<br />