@model IEnumerable<SOFT549_ASD_MIS_DemoWebApp.Models.Activity>

@{
    ViewData["Title"] = "Activities";
}
<br/>
<h3>Activities List</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="flip-scroll">
    <table class="table table-hover table-responsive-lg">
        <thead>
            <tr>
                <th>
                    Activity Name
                </th>
                <th>
                    Predicted Start Date
                </th>
                <th>
                    Actual Start Date
                </th>
                <th>
                    Predicted Completion Date
                </th>
                <th>
                    Actual Completion Date
                </th>
                <th>
                    Predicted Cost
                </th>
                <th>
                    Actual Cost
                </th>
                <th>
                    Activity Sequence
                </th>
                <th>
                    Project
                </th>
                <th>
                    Staff
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PredictedStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PredictedCompletionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualCompletionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PredictedCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActualCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivitySequence)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Staff.StaffName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ActivityId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ActivityId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ActivityId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <br />
    <br />
