@model SOFT549_ASD_MIS_DemoWebApp.Models.Authentication

@{
    ViewData["Title"] = "Home Page";
}
<br />
<h3>Login<small class="text-muted"> - please enter user credentials.</small></h3>
<br />
<div class="login-wrapper">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label>Username: </label>
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="form-group">
            <label>Password: </label>
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="form-group error">
            @if (@ViewBag.NotValidUser != null)
            {
                <label>@ViewBag.NotValidUser</label>
            }
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Login
            </button>
        </div>
    }
</div>