@model SOFT549_ASD_MIS_DemoWebApp.Models.RequestForQuote

@{
    ViewData["Title"] = "Delete";
}
<br />
<h3>Delete</h3>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RequestForQuote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Quote ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuoteId)
        </dd>
        <dt>
            Client Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt>
            Client Phone Number
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientPhone)
        </dd>
        <dt>
            Client Email Address
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientEmail)
        </dd>
        <dt>
            Client Representative
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientRep)
        </dd>
        <dt>
            Client Rep Contact
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientRepContact)
        </dd>
        <dt>
            Project Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            Project Manager
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectManager)
        </dd>
        <dt>
            Predicted Start Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredStartDate)
        </dd>
        <dt>
            Predicted Completion Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredCompletionDate)
        </dd>
        <dt>
            Project Description
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
<br />
<br />