@model SOFT549_ASD_MIS_DemoWebApp.Models.RequestForQuote

@{
    ViewData["Title"] = "Details";
}
<br />
<h3>Details</h3>

<div>
    <h4>RequestForQuote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Quote ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuoteId)
        </dd>
        <dt>
            Client Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt>
            Client Phone
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientPhone)
        </dd>
        <dt>
            Client Email Address
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientEmail)
        </dd>
        <dt>
            Client Representative
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientRep)
        </dd>
        <dt>
            Client Rep Contact
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientRepContact)
        </dd>
        <dt>
            Project Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            Project Manager
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectManager)
        </dd>
        <dt>
            Predicted Start Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredStartDate)
        </dd>
        <dt>
            Predicted Completion Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredCompletionDate)
        </dd>
        <dt>
            Project Description
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
<br />
<br />
