@model IEnumerable<SOFT549_ASD_MIS_DemoWebApp.Models.RequestForQuote>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientRep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientRepContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredCompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredictedCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientRep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientRepContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PredStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PredCompletionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PredictedCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuoteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuoteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
