@model SOFT549_ASD_MIS_DemoWebApp.Models.Assignment

@{
    ViewData["Title"] = "Details";
}
<br />
<h3>Details</h3>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Task Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt>
            Predicted Start Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredictedStartDate)
        </dd>
        <dt>
            Actual Start Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualStartDate)
        </dd>
        <dt>
            Predicted Completion Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredictedCompletionDate)
        </dd>
        <dt>
            Actual Completion Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualCompletionDate)
        </dd>
        <dt>
            Predicted Cost
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PredictedCost)
        </dd>
        <dt>
            Actual Cost
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualCost)
        </dd>
        <dt>
            Task Sequence
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskSequence)
        </dd>
        <dt>
            Linked Activity
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activity.ActivityName)
        </dd>
        <dt>
            Task Owner
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staff.StaffName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<br />
<br />