@model SOFT549_ASD_MIS_DemoWebApp.Models.Staff

@{
    ViewData["Title"] = "Details";
}
<br />
<h3>Details</h3>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactDetails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Organisation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Organisation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.ClientContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StaffId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<br />
<br />